{% extends 'admin_view/index.html' %}
{% block body %}
{{ super() }}
<div class="col-md-2"></div>
<div class='col-md-8 page-article' >
    <h1 class='article-title'>{{item.name}}班</h1>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">任课教师</h3>
        </div>
        <div class="panel-body">
            <a href="{{ url_for('teachers.details_view', id=item.present_teacher.id )}}">{{item.present_teacher['chinese_name']}}</a>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">课程简介</h3>
        </div>
        <div class="panel-body">{{item.summary}}</div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">课程进度</h3>
        </div>
        <div class="panel-body">
            已完成课数：{{item.present_class}}/{{item.total_class}}; &nbsp&nbsp&nbsp&nbsp    已完成时间：{{item.present_class*item.hours_per_class}} /{{item.total_class*item.hours_per_class}} 小时
            <br />
            <br />
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ item.present_class*100/item.total_class }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.present_class*100/item.total_class }}%;">
                    {% if item.present_class==0 %}
                {% set module='' %}
                {%else%}
                {% set module='当前完成模块：'+item.modules.split(',')[item.present_class-1] %}
                {% endif %}
                {{module}}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">登记</h3>
        </div>
        <div class="panel-body">

            <input type="text" id="checkin_dates" />
        </div>
    </div>

</div>
<div class="col-md-2"></div>
<input type="text" id = 'id_tmp' hidden="true" value="{{item.id}}">
<input type="text" id = 'dates_tmp' hidden="true" value="{{item.dates}}">
<input type="text" id = 'records_tmp' hidden="true" value="{{item.records}}">
<input type="text" id = 'select_date_tmp' hidden="true">

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="100"    aria-valuemin="0" aria-valuemax="100" style="width: 100%;" id= 'check_process'>0人/0人</div>
                </div>
                <h4>备注</h4>
                <input type="text" id="comment">
                <h4>签到单</h4>
                <ul class="list-group" id='check_list'></ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id='submit' style="display: none;">登记</button>
            </div>

        </div>
        <!-- /.modal-content --> </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal <--></-->
{% endblock body %}
{% block tail %}
{{super()}}
<script type="text/javascript">
    var today = new Date();

    var y = today.getFullYear();

    var dates= {{ item.dates|tojson }}

    var records = {{item.records|tojson }}
    var id = {{item.id|tojson }}*1
    //check in
    if ($('#checkin_dates')){
        var  specialDates = [];
        var  recordedDates = [];
        dates = dates.split(',')
         for (var i=0;i<dates.length;i++){
            dates[i]=$.trim(dates[i])
            var year = dates[i].split('/')[2];
            var month = dates[i].split('/')[0]-1;
            var day = dates[i].split('/')[1];
            if (dates[i] in records){
                //标记有课并登记的日期，与上面分开有益于拓展
                var recordedDate = {
                    date: new Date(year,month,day),
                    data: {
                        select_date :dates[i],
                        comment:records[dates[i]]['comment'],
                        students:records[dates[i]]['students']
                    },
                    repeatMonth: false                  
                }
                recordedDates.push(recordedDate)
            }
            else{
                //标记有课的日期
                var specialDate = {
                    date: new Date(year,month,day),
                    data: { message: '这堂课还没有登记' },
                    repeatMonth: false    
                }

                specialDates.push(specialDate)
            }

         }
        
        
        $('#checkin_dates').glDatePicker({
            specialDates:specialDates,
            recordedDates:recordedDates,
            onClick: function(target, cell, date, data) {
                target.val(date.getFullYear() + ' - ' +
                date.getMonth() + ' - ' +
                date.getDate());
                if(data != null && ('message' in data)) {
                    alert(data.message + '\n' + date);
                        var url = '/admin/courses/api/detail/'+id;
                        $.ajax({
                            url:url,
                            type:'GET',
                            dataType:'json',
                            // async:false
                            success:function(response){
                                if (response.status ==='OK'){
                                    var inform = response.data
                                    var attend_list = []
                                    var attend_num = 0
                                    var total_list = inform.student_list
                                    var total_num = total_list.length
                                    $.each(total_list,function(){
                                        $('#check_list').append("<li class='list-group-item list-group-item-danger student-status' status='not-checkin' student_id='"+this.id+"'>"+this.name +'</a>')                             
                                    })
                                    $('.student-status').click(function(e){
                                        if ($(this).attr('status')=='not-checkin'){
                                           $(this).attr({'class':'list-group-item list-group-item-success student-status','status':'checkin'})
                                            attend_num ++;
                                            attend_list.push($(this).attr('student_id')); 
                                        }
                                        else{
                                           $(this).attr({'class':'list-group-item list-group-item-danger student-status','status':'not-checkin'})
                                            attend_num --;
                                            attend_list.splice($.inArray($(this).attr('student_id'),attend_list),1);                                             
                                        }
                                        
                                        $('#check_process').attr('aria-valuenow',attend_num*100/total_num)
                                        .css('width',attend_num*100/total_num+'%')
                                        .text(attend_num+'人/'+total_num+'人')

                                    })

                                    $("#modal-title").text(data.select_date+'   '+inform.name+' 班登记表')
                                    $('#check_process').attr('aria-valuenow',attend_num*100/total_num)
                                    .css('width',attend_num*100/total_num+'%')
                                    .text(attend_num+'人/'+total_num+'人')

                                    $('#submit').css('display','inline')
                                    $('#submit').click(function(e){
                                        url = '/admin/courses/api/checkin/'+id;
                                        var comment = $('#comment').val()
                                        $.ajax({
                                            url:url,
                                            type:'POST',
                                            dataType:'json',
                                            traditional:true,
                                            data:{'date':date.Format("MM/dd/yyyy"),'attend_list':attend_list,'total_list':total_list,'comment':comment},
                                            success:function(response){
                                                if(response.status=='OK'){
                                                    $('#submit').css('display','none')
                                                    $('#check_list').html('<h2>success</h2>')
                                                    alert('success!')
                                                     location.reload() ;
                                                }
                                                else{
                                                    alert('checking-in failed')
                                                }
                                            }
                                        })
                                    })                                    
                                    
                                }
                                else {
                                    alert ('')
                                }
                            }
                        });
                    $('#myModal').modal()
                    $('#myModal').on('hidden.bs.modal', function (e) {
                        $('#check_list').html('')
                        $('#submit').css('display','none')
                    })
                }
                else{
                    if (data != null){
                        var url = '/admin/courses/api/detail/'+id;
                        $.ajax({
                            url:url,
                            type:'GET',
                            dataType:'json',
                            // async:false
                            success:function(response){
                                if (response.status ==='OK'){
                                    var inform = response.data
                                    var attend_list = inform.records[date.Format("MM/dd/yyyy")].attend_list
                                    var attend_num = attend_list.length
                                    var total_list = inform.student_list
                                    var total_num = total_list.length
                                    console.log(inform.records[date.Format("MM/dd/yyyy")])
                                    $("#modal-title").text(data.select_date+'   '+inform.name+' 班登记详情')
                                    $('#comment').val(inform.records[date.Format("MM/dd/yyyy")].comment).attr('disabled','disabled');
    
                                    $('#check_process').attr('aria-valuenow',attend_num*100/total_num)
                                    .css('width',attend_num*100/total_num+'%')
                                    .text(attend_num+'人/'+total_num+'人')
                                    $.each(total_list,function(l){
                                        //出席
                                        if ($.inArray(this.id.toString(),l)>=0){
                                            $('#check_list').append("<a href ='/admin/students/detail/"+this.id+"' class='list-group-item list-group-item-success'>"+this.name +'</a>')
                                        }
                                        //未出席
                                        else{
                                            $('#check_list').append("<a href ='/admin/students/detail/"+this.id+"' class='list-group-item list-group-item-danger'>"+this.name +'</a>')

                                        }
                                    },[attend_list])
                                    

                                }
                                else {
                                    alert ('')
                                }
                            }
                        });

                        $('#myModal').modal()
                        $('#myModal').on('hidden.bs.modal', function (e) {
                            $('#check_list').html('')

                        })

                    }
                    
                }
            }

        });
    };
</script>
{% endblock %}