{% extends 'admin/base.html' %}
{% block head_css %}
  {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my_flask_admin.css', _external=True) }}" ></link>
<link rel="stylesheet" href="{{ url_for('static', filename='css/glDatePicker.default.css', _external=True) }}" ></link>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css', _external=True) }}" ></link>
<link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs2.css', v='1.3.22') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch.css', _external=True) }}" ></link>

{% endblock %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="navbar-text btn-group pull-right">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="glyphicon glyphicon-user"></i>
    {% if current_user.alias_name -%}
        {{ current_user.alias_name }}  老师
        {% elif current_user.chinese_name %}
        {{current_user.chinese_name}}  老师
        {% else %}
        {{ current_user.email }}
        {%- endif %}
    <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
    <li>
        <a href="{{ url_for('security.logout') }}">Log out</a>
    </li>
</ul>
</div>
{% endif %}
{% endblock %}

    {% block tail %}
<script type="text/javascript" src="{{url_for('static', filename='js/glDatePicker.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui-1.11.1.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.multidatespicker.js')}}"></script>
<script src="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker.js', v='1.3.22') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-switch.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/user.js')}}"></script>
    {% endblock %}