{% extends 'admin_view/index.html' %}
{% block body %}
    {{ super() }}
<div class="col-md-2"></div>
<div class='col-md-8 page-article' >
    {% if item.chinese_name and not item.alias_names %}
    <h1 class='article-title'>{{item.chinese_name}} 老师</h1>
    {% elif  item.chinese_name and  item.alias_names%}
    <h1 class='article-title'>{{item.chinese_name}} 老师({{item.alias_names}})</h1>
    {%else%}
    <h1 class='article-title'>{{item.alias_names}} 老师</h1>
    {% endif  %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">个人信息</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-8 table-responsive">
                <table class="table table-striped ">
                    <tr>
                        <td>性别：</td>
                        <td>
                            {% if item.gender == 0 or not item.gender%}
                                    未知
                                    {%elif item == 1 %}
                                    男
                                    {%else%}
                                    女
                                    {%endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>电话：</td>
                        <td>{{ item.mobile}}</td>
                    </tr>
                    <tr>
                        <td>Email：</td>
                        <td>{{ item.email}}</td>
                    </tr>
                    <tr>
                        <td>生日：</td>
                        <td>{{ item.birthday}}</td>
                    </tr>
                    <tr>
                        <td>学校：</td>
                        <td>{{ item.school}}</td>
                    </tr>

                </table>
            </div>
            <div class="col-md-4">
                <img src="#" class="img-responsive img-circle" alt="{{item.chinese_name}}的照片"></div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">状态信息</h3>
        </div>
        <div class="panel-body">
            <table  class="table table-striped ">
                <tr>
                    <td>级别：</td>
                    <td>{{item.stage.name}}</td>
                </tr>
                <tr>
                    <td>总课时：</td>
                    <td>{{item.total_hours}} 小时</td>
                </tr>
                <tr>
                    <td>主教时薪：</td>
                    <td>
                        本部：{{item.stage.inpay}}
                        <br>外派：{{item.stage.outpay}}</td>
                </tr>
                <tr>
                    <td>助教时薪：</td>
                    <td>
                        本部：{{item.stage.asinpay}}
                        <br>外派：{{item.stage.asoutpay}}</td>
                </tr>
                <tr>
                    <td>激活状态：</td>
                    {%  if item.active ==1 %}
                    <td>
                        <h3>
                            <span class="label label-success">已激活</span>
                        </h3>
                    </td>
                    {%else%}
                    <td>
                        <h3>
                            <span class="label label-default">未激活</span>
                        </h3>
                    </td>
                    {%endif%}
                </tr>
                <tr>
                    <td>确认状态：</td>
                    {%  if item.confirm ==1 %}
                    <td>
                        <h3>
                            <span class="label label-success">已确认</span>
                        </h3>
                    </td>
                    {%else%}
                    <td>
                        <h3>
                            <span class="label label-default">未确认</span>
                        </h3>
                    </td>
                    {%endif%}
                </tr>
            </table>

        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">课程信息</h3>
        </div>
        <div class="panel-body">
            {% for i in item.course_list %}
                        课程名称：
            <a href="{{ url_for('courses.details_view', id=i.id )}}">{{i.name}}</a>
            <br>
            当前进度：
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ i.present_class*100/i.total_class }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ i.present_class*100/i.total_class }}%;">
                    {% if i.present_class==0 %}
                                    {% set module='' %}
                                    {%else%}
                                    {% set module='当前完成模块：'+i.modules.split(',')[i.present_class-1] %}
                                {% endif %}
                                {{module}}
                </div>
            </div>
            <br>{%endfor%}</div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">账户信息</h3>
        </div>
        <div class="panel-body">
            <div>
                选择时间段:
                <input type="text" id="checkdates_teacher" />
            </div>
            <br>
            <div>
                <table class="table table-striped " id='teach_records'>
                    <tr>
                        <td>主教收入：</td>
                        <td id="self-pay">0.0  元</td>
                    </tr>
                    <tr>
                        <td>代课收入：</td>
                        <td id="sub-pay">0.0  元</td>
                    </tr>
                    <tr>
                        <td>助教收入：</td>
                        <td id="as-pay">0.0  元</td>
                    </tr>
                    <tr>
                        <td>奖惩：</td>
                        <td id="prize-pay">0.0  元</td>
                    </tr>
                    <tr>
                        <td>时间段总收入：</td>
                        <td id="sum-pay">0.0  元</td>
                    </tr>
                </table>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="float: right;">查看详细报告</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
<input type="text" id = 'id_tmp' hidden="true" value="{{item.id}}">
<input type="text" id = 'dates_tmp' hidden="true" value="{{item.dates}}">
<input type="text" id = 'records_tmp' hidden="true" value="{{item.records}}">
<input type="text" id = 'select_date_tmp' hidden="true">
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title" id="modal-title">老师账户详情</h4>
            </div>
            <div class="modal-body" id="modal-body">
                <h3 id="detail-title"></h3>
                <div class="list-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">主教记录</div>
                        <div class="panel-body">
                            <table class="table table-striped" id="self-pay-detail">
                                <tr>
                                    <th>日期：</th>
                                    <th>课程：</th>
                                    <th>薪水：</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">代课记录</div>
                        <div class="panel-body">
                            <table class="table table-striped" id="sub-pay-detail">
                                <tr>
                                    <th>日期：</th>
                                    <th>课程：</th>
                                    <th>薪水：</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">助教记录</div>
                        <div class="panel-body">
                            <table class="table table-striped" id="as-pay-detail">
                                <tr>
                                    <th>日期：</th>
                                    <th>课程：</th>
                                    <th>薪水：</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">奖惩记录</div>
                        <div class="panel-body">
                            <table class="table table-striped" id="prize-pay-detail">
                                <tr>
                                    <th>日期：</th>
                                    <th>金额：</th>
                                    <th>备注：</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">总和</div>
                        <div class="panel-body" id="sum-pay-detail"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content --> </div>
    <!-- /.modal-dialog -->
    {% endblock body %}
{% block tail %}
{{super()}}
    <script type="text/javascript">
    var today = new Date();

    var y = today.getFullYear();

    var id = {{item.id}}*1


        //老师总结日历
    
    $('#checkdates_teacher').daterangepicker({
        locale: {
            format: 'MM/DD/YYYY'
        }
    }) ;
    $('#myModal').off('shown.bs.modal').on('shown.bs.modal', function (e) {
        alert('请选择时间段')
         $('#myModal').modal('hide')
    }).on('hidden.bs.modal', function (e) {
        $('.tmp').remove()
        $('.tmp').remove('.tmp')
        $('.tmp').remove('.tmp')
        $('#sum-pay-detail').html('')
        $('#detail-title').html('')                
    }) 
    $('#checkdates_teacher').on('apply.daterangepicker',function(e,picker){
        var startDate = toTimeStamp(picker.startDate)
        var endDate = toTimeStamp(picker.endDate)
        var url = '/admin/teachers/api/account/detail/'+id
        $.ajax({
            url:url,
            type:'GET',
            dataType:'json',
            data:$('#checkdates_teacher').val(),
            success:function(response){
                if (response.status == 'OK'){
                    console.log(response.selfRecords)
                    var selfPay = getSum(response.selfRecords)
                    var asPay = getSum(response.asRecords)
                    var subPay = getSum(response.subRecords)
                    var sumPay = selfPay+asPay+subPay
                    $('#self-pay').html(selfPay+'  元')
                    $('#as-pay').html(asPay+'  元')
                    $('#sub-pay').html(subPay+'  元')
                    $('#sum-pay').html(sumPay+'  元' )
                    $('#myModal').off('shown.bs.modal').on('show.bs.modal',function(e){
                        payDetailTable(response.selfRecords,'#self-pay-detail')
                        payDetailTable(response.asRecords,'#as-pay-detail')
                        payDetailTable(response.subRecords,'#sub-pay-detail')
                        $('#sum-pay-detail').html(sumPay+'元')
                        $('detail-title').html()
                    })
                }
            }
        })
     }) ;
</script>
    {% endblock %}